<div class="duel" *ngIf="duelData$ | async as duelData">
  <div class="duel__round-counter">
    Question {{ duelData.round.number }}/{{ duelData.round.totalRounds }}
  </div>

  <div class="duel__question">
    <div class="duel__question-title">
      {{ duelData.round.questionText }}
    </div>

    <div class="duel__answers">
      @for (answer of duelData.round.answers; track answer.id) {
        <label
          class="duel__answer"
          [class.duel__answer--disabled]="isAnswerSelectedByUser"
        >
          <input
            type="radio"
            [value]="answer.id"
            [formControl]="selectedAnswerId"
          />
          {{ answer.answerText }}
        </label>
      } @empty {
        <p class="duel__empty-state">No answers found</p>
      }
    </div>
  </div>

  <div class="duel__navigation">
    <app-countdown-timer
      class="duel__timer"
      [endsAt]="duelData.round.endsAt"
      [roundDurationSeconds]="duelData.round.roundDurationSeconds"
    >
    </app-countdown-timer>

    <div class="duel__actions">
      <button
        class="button button--accent"
        (click)="submitAnswer(duelData.round.roundId)"
      >
        Submit answer
      </button>
    </div>
  </div>
</div>
