.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal {
  width: 500px;
  max-width: 90%;
  background: var(--gray-100);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border-bottom: 1px solid var(--gray-200);
}

.modal__title {
  margin: 0;
}

.modal__close {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.modal__body {
  padding: 1rem;
}